<div class="app-card">
    <div class="app-card--title">
        List of drinks
    </div>
    <div class="app-card--content">
        <app-data-table [dataSource]="dataSource"
                        [columns]="columns"
                        (edit)="editRecord($event)"
                        (remove)="removeRecord($event)"
                        (add)="addNew()"
        >
            <ng-template let-value="value" [appTableCell]="'glass'">
                <app-glass-preview [glass]="value"></app-glass-preview>
            </ng-template>
            <ng-template let-record="record" [appTableCell]="'ingredients'">
                <div class="__ingredients-list">
                    <div *ngFor="let ingredient of record.ingredients">
                        {{record.ingredientsAmount[ingredient.id].amount ||
                        record.ingredientsAmount[ingredient.id].customAmount }} of
                        <span>
                            <span class="__colour-cell" [style.background]="ingredient.colour"></span>
                            {{ingredient.name}}
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template let-value="value" [appTableCell]="'state'">
                {{value ? 'Enabled' : 'Disabled'}}
            </ng-template>
        </app-data-table>
    </div>
</div>