<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button class="button sm-button logout" (click)="logout()">LOG OUT</button>
<div class="grid-x">
    <div class="cell large-6 medium-7 small-12">
        <app-drinks-list (add)="openDrinkDialog()" (edit)="openDrinkDialog($event)"></app-drinks-list>
    </div>
    <div class="cell large-6 medium-5 small-12">
        <app-glasses-list (add)="openGlassDialog()" (edit)="openGlassDialog($event)"></app-glasses-list>
        <app-ingredients-list (add)="openIngredientDialog()" (edit)="openIngredientDialog($event)">
        </app-ingredients-list>
    </div>
</div>