/* You can add global styles to this file, and also import other style files */

html, body {
  background: radial-gradient(#1f3d4e, #03101f);
  height: 100%;
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
